@font-face {
  font-family: "iconfont"; /* Project id 1988403 */
  src: url('iconfont.woff2?t=1628563486929') format('woff2'),
       url('iconfont.woff?t=1628563486929') format('woff'),
       url('iconfont.ttf?t=1628563486929') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshipin:before {
  content: "\e69f";
}

.iconludan:before {
  content: "\e61c";
}

.iconshoujianludan:before {
  content: "\e628";
}

.iconjixiaoguanli:before {
  content: "\e611";
}

.iconjiahao1:before {
  content: "\e610";
}

.iconinfo:before {
  content: "\e60a";
}

.iconlianjie:before {
  content: "\e60b";
}

.iconrenyuan:before {
  content: "\e60c";
}

.iconjianhao:before {
  content: "\e60d";
}

.iconjiahao:before {
  content: "\e60e";
}

.iconxinxi:before {
  content: "\e60f";
}

.iconinfo1:before {
  content: "\e609";
}

.icon2:before {
  content: "\e600";
}

.icon9svg:before {
  content: "\e601";
}

.icon1:before {
  content: "\e602";
}

.icon7:before {
  content: "\e603";
}

.icon8:before {
  content: "\e604";
}

.icon4:before {
  content: "\e605";
}

.icon6:before {
  content: "\e606";
}

.icon5:before {
  content: "\e607";
}

.icon3:before {
  content: "\e608";
}

